* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Steppe-Book';
  src: url('./fonts/Steppe-Book.ttf');
}
@font-face {
  font-family: 'Steppe-ExtraBold' ;
  src: url('./fonts/Steppe-ExtraBold.ttf');
}
body {
  font-family: 'Steppe-Book', sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #7468F6;
}

.header {
  padding: 40px 0;
}

.menu{
  margin-left: 250px;
  
}
.header .header_container{
  display: flex;
  align-items: center;

}

.header_container {
  max-width: 1200px;
  margin: 0 auto;
  
}

.logo img {
  width: 151;
  height: 20px;
  vertical-align: bottom;
}

.menu ul{
  list-style-type: none;
  display: flex;
  gap: 50px;
 
}
.menu a{
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
 
}
.menu a:hover{
  border-bottom: 2px solid white;
}
.main_container {
  max-width: 1200px;
  margin: 0 auto;
}
.hero {
 padding-top: 162px;
 padding-bottom: 200px;
}

.hero .title {
  font-family: 'Steppe-ExtraBold', sans-serif;
  font-size: 90px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.hero .main_text {
  min-width: 697px;
  font-size: 17px;
  line-height: 130%;
  color: white;
  margin-bottom: 40px;
}
.main_info{
  max-width: 811px;
}

.hero .button {
  background-color: #fff;
  color: #7468F6;
  padding: 18px 35px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.hero .button:hover {
  background-color: yellow;
}
.main_image{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}